<% if flash.any? %>
  <div class="flash-content">
    <% flash.each do |message_type, message| %>
      <div class="flash-message" data-level="<%= message_type %>">
        <% if message.is_a? Array%>
          <% message.each do |m| %>
            <%= m.html_safe %>
          <% end %>
        <% else %>
          <%= message.html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
